<h1>Adicionar Ticket</h1>
<%= form_for :post, url: posts_path do |f| %>
    <% if @post.errors.any? %>
        <% @post.errors.full_messages.each do |msg| %>
            <div class="alert alert-danger"><%= msg %></div>
        <% end %>    
    <% end %>
<div class="addticket">
<p>
    <%= f.label :category %><br>
    <%= select("post","category",['Dúvidas','Críticas','Sugestões','Outros'], {include_blank: false})%>
    <%#f.text_field :category, {:class => 'form-control'} %>
</p>

<p>
    <%= f.label :title %><br>
    <%= f.text_field :title, {:class => 'form-control'} %>
</p>

<p>
    <%= f.label :body %><br>
    <%= f.text_area :body, {:class => 'form-control'} %>
</p>
 
<p>
    <%= f.submit :class => 'btn btn-primary' %>
</p>
</div>
<% end %>