<div class="well" style="background:LightSteelBlue">
    <h4 ><%= @post.category %></h4>
    <p class="form-control"><%= @post.title %></p>
    <p class="form-control"><%= @post.body %></p>
</div>
<hr>

<%= render 'comments/comments' %>
<%= render 'comments/form' %>
