<!DOCTYPE html>
<html>
  <head>
    <title>Ticketart</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css' %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <h3 id="home">Ticket's Write </h3>
    <div class="navbar navbar-expand md py-3 mb-4">
    <nav class="nav d-flex justify-content-between">
      <ul>
        <li> <%= link_to "Home", home_path%></li>
      </ul>

      <ul>
        <li> <%= link_to "Logout", destroy_user_session_path, method: :delete%></li>
      </ul>  
      
      <ul>
        <li> <%= link_to "Login", new_user_session_path%></li>
      </ul>

      <ul>
        <li> <%= link_to "Sign up", new_user_registration_path%></li>
      </ul>

      <ul>
        <li> <%= link_to "Add Ticket", new_post_path%></li>
      </ul>
    
    </nav>
  </div>

   <div class="container">
    <%= yield %>
   </div>  
   
  </body>
</html>
